In [11]:
#Project 1

#Writing Student's Data
student_data = {'Samantha  ': ['17', '5.5  ', '80'], 'Jada      ': ['16', '6.0  ', '85  '], 'Jane      ': ['17', '5.4  ', '70'], 
                'Claire    ': ['18', '5.9  ', '60'], 'Elizabeth ': ['16', '5.6  ', '76  '], 'Mary      ': ['18', '5.5  ', '66'], 
                'Susan     ': ['17', '6.1  ', '87'], 'Waje      ': ['20', '6.0  ', '95  '], 'Taibat    ': ['19', '5.7  ', '50'], 
                'Lilian    ': ['17', '5.5  ', '49'], 'Charles   ': ['19', '5.7  ', '74  '], 'Jude      ': ['16', '5.9  ', '87'], 
                'James     ': ['18', '5.8  ', '75'], 'Kelvin    ': ['17', '6.1  ', '68  '], 'Biodun    ': ['20', '5.9  ', '66'], 
                'Wale      ': ['19', '5.5  ', '78'], 'Kunle     ': ['16', '6.1  ', '87  '], 'Matthew   ': ['18', '5.4  ', '98'], 
                'Tom       ': ['17', '5.8  ', '54'], 'Kayode    ': ['19', '5.7  ', '60  ']}

#Printing Student's Data
print("NAME      |AGE|HEIGHT|SCORE|")
print("____________________________")
for data in student_data:
    print(f"{data}| {student_data[data][0]}| {student_data[data][1]}| {student_data[data][2]}")

NAME      |AGE|HEIGHT|SCORE|
____________________________
Samantha  | 17| 5.5  | 80
Jada      | 16| 6.0  | 85
Jane      | 17| 5.4  | 70
Claire    | 18| 5.9  | 60
Elizabeth | 16| 5.6  | 76
Mary      | 18| 5.5  | 66
Susan     | 17| 6.1  | 87
Waje      | 20| 6.0  | 95
Taibat    | 19| 5.7  | 50
Lilian    | 17| 5.5  | 49
Charles   | 19| 5.7  | 74
Jude      | 16| 5.9  | 87
James     | 18| 5.8  | 75
Kelvin    | 17| 6.1  | 68
Biodun    | 20| 5.9  | 66
Wale      | 19| 5.5  | 78
Kunle     | 16| 6.1  | 87
Matthew   | 18| 5.4  | 98
Tom       | 17| 5.8  | 54
Kayode    | 19| 5.7  | 60

In [2]:
#Project 2


name = input('Welcome to AGC.FinTech! \nFull Name (First name then last name):')
age = int(input('Age:'))
y_o_e = int(input('Year of Experience:')) #y_o_e represents years of experience

if (y_o_e > 25) and (age >= 55):
    art = 5600000
    print(f"{name}, your annual tax revenue = N{art}.")
elif (y_o_e > 20) and (age >= 45):
    art = 4480000
    print(f"{name}, your annual tax revenue = N{art}.")
elif (y_o_e > 10) and (age >= 35):
    art = 1500000
    print(f"{name}, your annual tax revenue = N{art}.")
else:
    art = 550000
    print(f"{name}, your annual tax revenue = N{art}.")

Welcome to AGC.FinTech!
Full Name (First name then last name):aze
Age:50
Year of Experience:32
aze, your annual tax revenue = N4480000.